h1.flashy {
  color: red;
  font-style: italic;

} 
p.best {
  font-size: 36px;
  color: lightcoral;
  font-weight: bold;
}
h1.title {
  font-size: 42;
  text-align: center;
}
body {
  text-align: center;
}